parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Cannot access property \$args on PhpParser\\Node\|null#'
        - '#Call to an undefined method PhpParser\\Node\\Expr\|PhpParser\\Node\\Name\:\:toString\(\)#'
        - '#Parameter \#1 \$array of function array_flip expects array, array\<int, int\|string\>\|int\|string given\.#'

    excludes_analyse:
        - src/TestUtils/WorkshopExerciseTest.php

includes:
  - vendor/timeweb/phpstan-enum/extension.neon
